body{
    border:0;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #2eda87;
    height: 45px;
    display: flex;
    border: 0px;
    margin: 0%;
    align-items: center;
    }

header img{
    display: flex;
    width: 25px;
    height: 25px;
    margin: 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

nav a{
    
    color: white;
    text-decoration: none;
    padding: 30px;
}

nav a:hover{
    text-decoration: underline;
    transition-duration: 1s;
}

.logo-header:hover{
    opacity: 0.8;
    transition-duration: 0.5s;
}

.div1{
    height: 180px;
    align-items: center;
    text-align: center;
    margin: 0%;
    border-bottom: 2px solid;
    border-color: #2eda87;
    background-image: url(../img/homem-calc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.div1 h1{
    color: #2eda87;
    margin: 0;
    padding: 20px;
}

.div1 p{
    margin-left: 60px;
    margin-right: 60px;
}

.div2 h1{
    margin-left: 20px;  
}

fieldset{
    display: flex;
    margin: 20px;
}

.digite{
    
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid;
    border-color: gray;
    width: 60%;
    height: 30px;   
}

.div2 select{
    margin-top: 35px;
}

.calc{
    background-color: #2eda87;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
}

.calc:hover{
    background-color: lightgreen;
    transition-duration: 1s;
    font-weight: bold;
}

.icons{
    display: flex;
    padding: 2px;
    justify-content: space-around;
}

.icons img{
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}

footer{
    background-color: #2eda87;
    color: white;
    height: 55px;
    display: flex;
    border: 0px;
    margin: 0%;
    justify-content: space-around;
    font-size: 12px;
    
    
}