body{
    border:0;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/homem-calc2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h2{
    color: #2eda87;
}

header{
    background-color: #2eda87;
    height: 45px;
    display: flex;
    border: 0px;
    margin: 0%;
    align-items: center;
    }

header img{
    display: flex;
    width: 25px;
    height: 25px;
    margin: 15px;
}

nav{
    display: flex;
    align-items: flex-end;  
}

nav a{
    color: white;
    text-decoration: none;
    padding: 30px;
}

nav a:hover{
    text-decoration: underline;
    transition-duration: 1s;
    font-weight: bold;
}


.logo-header:hover{
    opacity: 0.8;
    transition-duration: 0.5s;
}

.div1 div{
    margin: 40px;
}

.campo{
    width: 400px;
    height: 30px;
}

.bot{
    background-color: #2eda87;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.bot:hover{
    background-color: lightgreen;
    transition-duration: 1s;
}

.campo-msg{
    min-width: 400px;
}

.icons{
    display: flex;
    padding: 2px;
    justify-content: space-around;
}

.icons img{
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}

footer{
    background-color: #2eda87;
    color: white;
    height: 55px;
    display: flex;
    border: 0px;
    margin: 0%;
    justify-content: space-around;
    font-size: 12px;
    
    
}

.icons img{
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}

footer{
    background-color: #2eda87;
    color: white;
    height: 55px;
    display: flex;
    border: 0px;
    margin: 0%;
    justify-content: space-around;
    font-size: 12px;
    
    
}